# General CMake files
/build/
/CMakeFiles/
/CMakeCache.txt
/cmake_install.cmake
/Makefile

# Operating System-Specific
.DS_Store
Thumbs.db
desktop.ini

# IDEs
.idea/
.vscode/
*.iml
out/

# Generated binaries
*.o
*.a
*.so
*.dylib
*.exe
*.dll

# SDL logs or temp files
*.log
*.tmp

# CMake testing
Testing/
CTestTestfile.cmake
CTestCostData.txt
